@media screen and (max-width:1200px){
	footer li{margin-right:10%;}
	.feature-content{width:55%;}
}
@media screen and (max-width:991px){
	.feature-1,.feature-2{margin-bottom:50px;}
	.screenshots ul li{width:50%;}
	.screenshots-intro{padding:110px 0 100px 0;}
	.feature-content{width:80%;}
	.features-slider{height:100%}
}
@media screen and (max-width:680px){
	.feature-content{width:60%;}
}
@media screen and (max-width:640px){
	footer li{display:block;text-align:left;padding:20px 0;border-bottom:dashed 1px #c7cacc;margin-right:0!important;float:none;}
	.overlay ul{margin-left:0px;}
	.overlay ul li a{padding:20px 0;min-width:120px;font-size:12px;}
}
@media screen and (max-width:465px){
	.screenshots ul li{width:100%;min-height:100%;float:none;}
	.feature-content{width:100%;text-align:center;margin-top:20px;}
	.feature-icon{display:block;margin:0 auto;}
	blockquote p{width:60%;}
	.features-slider {padding: 11% 50px 10% 50px;}
}
@media screen and (min-width: 480px){
	.use-btn {
		background-color: #204497;
		color: #fff;
		text-decoration: none;
	}
	.use-btn:hover, .use-btn:focus {
		background-color: #fff;
		color: #204497;
		border: 1px #204497 solid;
	}
	.hero-footer{
	  width: 50%;
		right:0px;
	}
}
@media screen and (min-width: 768px){
	.hero-footer{
		width: 65%;
	}
	.hero h1 {
	    font-size: 48px;
	    font-size: 3rem;
	}
	#contact-info {
	  width: 51%;
	}
	.nav-toggle {
	    position: absolute;
	    top: -55px;
	    right: 15px;
		}
}
